<div class="container my-4">
  <h1 class="mb-4">Clientes</h1>
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let clients of clients(); let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ clients.name }}</td>
        <td>{{ clients.email }}</td>
        <td>
          <button class="btn btn-primary btn-sm me-1" (click)="viewClients(clients.id)">
            <i class="bi bi-eye"></i>
          </button>
          <button class="btn btn-warning btn-sm me-1" (click)="editClients(clients.id)">
            <i class="bi bi-pencil-square"></i>
          </button>
          <button class="btn btn-danger btn-sm" (click)="deleteClients(clients.id)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
