
<div class="container my-4">
  <h1 class="mb-4 text-primary">Serviços</h1>
  <table class="table" *ngIf="!loading">
    <thead>
      <tr>
        <th>Name</th>
        <th>Min Price</th>
        <th>Status</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let svc of services">
        <td>{{ svc.name }}</td>
        <td>{{ svc.minimumPrice | currency }}</td>
        <td>{{ svc.status }}</td>
        <td>{{ svc.createdAt | date }}</td>
      </tr>
    </tbody>
  </table>
  <!-- <app-spinner *ngIf="loading"></app-spinner> -->
</div>
