.app-header {
  background-color: var(--primary-color-dark);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  .logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
  }

  .dropdown {
    .btn {
      background-color: var(--primary-color); // Mantendo a cor padrão
      border: none;
      font-size: 1rem;
      display: flex;
      align-items: center;

      i {
        font-size: 1rem;
      }

      &:hover {
        background-color: var(--secondary-color);
      }
    }

    .dropdown-menu {
      background-color: var(--bs-light);
      border: 1px solid var(--bs-gray-300);
    }

    .dropdown-item {
      color: var(--bs-dark);
      &:hover {
        background-color: var(--primary-color);
        color: var(--bs-light);
      }
    }
  }
}
