<header class="app-header d-flex align-items-center justify-content-between px-3 py-2">
  <div class="d-flex align-items-center">
    <a routerLink="/home" class="logo me-2">
      <img src="assets/logo_.png" alt="Logo" class="logo me-2" />
    </a>
  </div>

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" 
      [attr.data-bs-toggle]="'dropdown'" aria-expanded="false">
      <i class="bi bi-person-circle me-2"></i> {{ userName }}
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" routerLink="/profile">Perfil</a></li>
      <li><button class="dropdown-item" (click)="logout()">Sair</button></li>
    </ul>
  </div>
  
  
</header>
