aside {
    width: 200px;
    height: calc(100vh - 60px); // Reduzindo a altura do header
    top: 60px; // Para não sobrepor o header
    position: fixed;
    left: 0;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: column;
    transition: width 0.7s ease-in-out;
    overflow: hidden;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);

    /* Corrigindo o posicionamento do botão de alternância */
    .toggle-btn {
        background: none;
        border: none;
        color: white;
        font-size: 1.3rem;
        padding: 12px;
        cursor: pointer;
        align-self: flex-end;
    }

    /* Menu e SubMenu */
    .menu {
        list-style: none;
        padding: 0;
        margin: 0;
        flex-grow: 1;

        li {

            /* Estilo do item do menu */
            a {
                display: flex;
                padding: 3px 4%;
                text-decoration: none;
                color: white;
                transition: background 0.7s;
                padding-left: 8px;

                .submenu-icon {
                    margin-left: auto; // Alinha a setinha à direita
                    transition: transform 0.7s ease-in-out;
                    align-self: flex-end;
                }

                i {
                    font-size: 1rem;
                    margin-right: 8px;
                }

                &:hover {
                    background-color: var(--primary-color-dark);
                }

            }

            /* Submenu */
            .submenu {
                display: none;
                transition: opacity 0.7s ease-in-out;
                opacity: 0;
                list-style: none;
                padding-left: 20px;
                background-color: var(--primary-color-dark);
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

                &.active {
                    display: block;
                    opacity: 1;
                }

                li a {
                    display: flex;
                    padding: 8px 10px;
                    white-space: nowrap;

                    &:hover {
                        background-color: var(--secondary-color);
                    }
                }
            }

            /* Submenu aparece quando passa o mouse */
            &:hover .submenu {
                display: block;
            }

            /* Animação da setinha */
            &:hover .submenu-icon {
                transform: rotate(180deg);
            }

            /* Submenu ativo */
            &:hover {
                background-color: var(--primary-color-dark);
            }


        }
    }

    /* Footer */
    .sidebar-footer {
        background: var(--primary-color-dark);
        text-align: center;
        font-size: 1rem;
        padding: 5px 7%;
        bottom: 0;
        width: 100%;

        .user-info,
        .datetime {
            display: flex;
            align-items: center;
            font-size: 0.8rem;
        }

        i {
            font-size: 1rem;
            margin-right: 8px;
            margin-left: 8px;
        }
    }
}


/* Estilo quando fechado */
aside.collapsed {
    width: 40px;
    transition: width 0.7s ease-in-out;

    .menu li a span {
        display: none;
    }

    .menu li a .submenu-icon {
        display: none;
    }

    
    .submenu {
        transition: width 0.7s ease-in-out;
        display: none !important; // Oculta imediatamente
    }

    /*  submenu não aparece quando está fechado o sidebar */
    .menu li .submenu {
        display: block;
        align-self: flex-end;
        position: absolute;
        left: 70px;
        top: 0;
        width: 180px;

        &.active {
            display: block;
        }
    }

    // .menu li {
    //     position: relative; /* Permite que o submenu se posicione corretamente */
    // }


    // .menu li:hover .submenu {
    //     display: block;
    //     position: absolute;
    //     // left: 100%; /* Faz o submenu aparecer ao lado da sidebar */
    //     // top: 0;
    //     min-width: 180px;
    //     background-color: var(--primary-color-dark);
    //     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    //     z-index: 100; /* Garante que fique acima de outros elementos */
    // }

    // aside.collapsed .menu li:hover .submenu {
    //     display: block;
    //     position: absolute;
    //     left: 40px;  // Para evitar sobreposição com o sidebar fechado
    //     top: 0;
    //     background-color: var(--primary-color-dark);
    //     z-index: 100;
    //     width: 180px;
    //     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    // }

}