<aside [class.collapsed]="isCollapsed()">

  <!-- Botão para expandir/retrair -->
  <button class="toggle-btn" (click)="toggleSidebar()">
    <i class="bi" [class.bi-arrow-left-circle]="!isCollapsed()" [class.bi-arrow-right-circle]="isCollapsed()"></i>
  </button>

  <!-- Menu -->
  <ul class="menu">

    <!-- Home na posição da seta -->
    <li>
      <a routerLink="/home">
        <i class="bi bi-house-door"></i>
        <span *ngIf="!isCollapsed()">Home</span>
      </a>
    </li>


    <li>
      <a routerLink="/products" class="has-submenu">
        <i class="bi bi-box"></i>
        <span *ngIf="!isCollapsed()">Produtos</span>
        <i class="bi bi-chevron-down submenu-icon"></i>
      </a>
      <ul class="submenu">
        <li><a routerLink="/products" class="has-submenu"><i class="bi bi-plus-circle"></i> <span
              *ngIf="!isCollapsed()">Cadastrar</span></a></li>
        <li><a routerLink="/products" class="has-submenu"><i class="bi bi-list"></i> <span
              *ngIf="!isCollapsed()">Listar</span></a></li>
        <li><a routerLink="/products" class="has-submenu"><i class="bi bi-tags"></i> <span
              *ngIf="!isCollapsed()">Categorias</span></a></li>
      </ul>
    </li>

    <li>
      <a routerLink="/customers" class="has-submenu">
        <i class="bi bi-people"></i>
        <span *ngIf="!isCollapsed()">Clientes</span>
        <i class="bi bi-chevron-down submenu-icon"></i>
      </a>
      <ul class="submenu">
        <li><a routerLink="/customers"><i class="bi bi-person-plus"></i> <span *ngIf="!isCollapsed()">Novo
              Cliente</span></a></li>
        <li><a routerLink="/customers"><i class="bi bi-people"></i> <span *ngIf="!isCollapsed()">Todos os
              Clientes</span></a></li>
      </ul>
    </li>

    <li>
      <a routerLink="/reports" class="has-submenu">
        <i class="bi bi-bar-chart"></i>
        <span *ngIf="!isCollapsed()">Relatórios</span>
        <i class="bi bi-chevron-down submenu-icon"></i>
      </a>
      <ul class="submenu">
        <li><a routerLink="/reports"><i class="bi bi-cash"></i> <span *ngIf="!isCollapsed()">Financeiro</span></a></li>
        <li><a routerLink="/reports"><i class="bi bi-graph-up"></i> <span *ngIf="!isCollapsed()">Vendas</span></a></li>
      </ul>
    </li>

    <li>
      <a routerLink="/settings">
        <i class="bi bi-gear"></i>
        <span *ngIf="!isCollapsed()">Configurações</span>
      </a>
    </li>
  </ul>

  <!-- Rodapé -->
  <div class="sidebar-footer">
    <div class="user-info">
      <i class="bi bi-person-circle"></i>
      <span *ngIf="!isCollapsed()">{{ userName() }}</span>
    </div>
    <div class="datetime">
      <i class="bi bi-clock"></i>
      <span *ngIf="!isCollapsed()">{{ currentDate().toLocaleString() }}</span>
    </div>
  </div>
</aside>