aside {
    width: 200px;
    height: calc(100vh - 60px); // Reduzindo a altura do header
    top: 60px; // Para não sobrepor o header
    position: fixed;
    left: 0;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);

    /* Corrigindo o posicionamento do botão de alternância */
    .toggle-btn {
        background: none;
        border: none;
        color: white;
        font-size: 1.3rem;
        padding: 12px;
        cursor: pointer;
        align-self: flex-end;
    }

    .menu {
        list-style: none;
        padding: 0;
        margin: 0;
        flex-grow: 1;

        li {
            a {
                display: flex;
                padding: 3px 4%;
                text-decoration: none;
                color: white;
                transition: background 0.3s;
                margin-left: 8px;

                .arrow {
                    display: flex;                
                }
                
                i {
                    font-size: 1rem;
                    margin-right: 8px;
                }

                &:hover {
                    background-color: var(--primary-color-dark);
                }

            }

            .submenu {
                display: none;
                list-style: none;
                padding-left: 20px;
                position: absolute;
                left: 100%; // Aparece ao lado do menu
                top: 0;
                background-color: var(--primary-color-dark);
                width: 180px;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

                &.active {
                    display: block;
                }

                li a {
                    display: flex;
                    padding: 8px 10px;
                    white-space: nowrap;

                    &:hover {
                        background-color: var(--secondary-color);
                    }
                }
            }

            &:hover .submenu {
                display: block;
            }

            .submenu-icon {
                margin-left: auto; // Alinha a setinha à direita
                transition: transform 0.3s ease-in-out;
            }

            &.open .submenu-icon {
                transform: rotate(180deg);
            }
        }
    }

    .sidebar-footer {
        background: var(--primary-color-dark);
        text-align: center;
        font-size: 1rem;
        padding: 5px 7%;
        bottom: 0;
        width: 100%;

        .user-info,
        .datetime {
            display: flex;
            align-items: center;
            font-size: 0.8rem;
        }

        i {
            font-size: 1rem;
            margin-right: 8px;
            margin-left: 8px;
        }
    }
}


/* Estilo quando fechado */
aside.collapsed {
    width: 40px;

    .menu li a span {
        display: none;
    }

    .menu li a .arrow {
        display: none;
    }

    .menu li .submenu {
        position: absolute;
        left: 70px;
        top: 0;
        width: 150px;
    }

}