<aside id="sidebarMenu" class="sidebar collapse show" [class.collapsed]="isCollapsed()">

  <!-- 🔹 Botão de Expandir/Retrair -->
  <div class="toggle-container">
    <button class="btn toggle-btn" (click)="toggleSidebar()">
      <i class="bi bi-list"></i>
    </button>
  </div>

  <!-- Menu -->
  <ul class="menu nav flex-column">
    <ng-container *ngFor="let item of filteredMenuItems">
      <li class="nav-item">
        <a [routerLink]="item.route" class="nav-link d-flex justify-content-between align-items-center"
          (click)="toggleSubmenu(item.menu)">
          <span>
            <i [class]="item.icon"></i>
            <span *ngIf="!isCollapsed()">{{ item.menu }}</span>
          </span>
          <i *ngIf="item.subRoutes" class="bi bi-chevron-down submenu-icon" [class.rotate]="isOpen(item.menu)"></i>
        </a>
        <ul *ngIf="item.subRoutes" class="submenu nav flex-column" [class.active]="isOpen(item.menu)">
          <li *ngFor="let sub of item.subRoutes">
            <a [routerLink]="sub.route" class="nav-link">
              <i [class]="sub.icon + ' me-2'"></i>
              <span *ngIf="!isCollapsed()">{{ sub.label }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ng-container>
  </ul>

  <!-- Rodapé -->
  <div class="sidebar-footer">
    <div class="user-info">
      <i class="bi bi-person-circle me-2"></i>
      <span *ngIf="!isCollapsed()">{{ userEmail() || 'Carregando...' }}</span>
    </div>
    <div class="datetime">
      <i class="bi bi-clock me-2"></i>
      <span *ngIf="!isCollapsed()">{{ currentDate().toLocaleString() }}</span>
    </div>
  </div>
</aside>