.sidebar {
    width: 200px;
    height: calc(100vh - 60px); // Reduzindo a altura do header
    top: 60px; // Para não sobrepor o header
    position: fixed;
    left: 0;
    background-color: var(--primary-color);
    color: white;
    overflow-y: auto;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; // Mantém os itens em coluna
  
      /* Corrigindo o posicionamento do botão de alternância */
    .toggle-btn {
        background: none;
        border: none;
        color: white;
        font-size: 1.3rem;
        padding: 12px;
        cursor: pointer;
        align-self: flex-end;

        .bi {
        font-size: 1.5rem;
        }
    }
  
    .nav-link {
      display: flex;
      align-items: center;
      color: white;
      padding: 10px;
      cursor: pointer;
      transition: background 0.3s;
  
      &:hover {
        background-color: var(--primary-color-dark);
      }
    }

    .menu {
        flex-grow: 1; // Faz com que ocupe o máximo de espaço disponível
        overflow-y: auto;
      }
  
    .submenu {
      display: none;
      padding-left: 20px;
  
      &.active {
        display: block;
      }
    }
  
    .submenu-icon {
      transition: transform 0.3s ease-in-out;
    }
  
    .rotate {
      transform: rotate(180deg);
    }
  
    &.collapsed {
        width: 80px;
        transition: width 0.7s ease-in-out;
        
        // .submenu li a {
        //     display: none !important;
        // }

        .menu li a .submenu-icon {
            display: none;
        }
    }

    /* 🔥 Fixando o Footer no final do Sidebar */
    .sidebar-footer {
        background: var(--primary-color-dark);
        text-align: center;
        font-size: 1rem;
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: auto; // Empurra o footer para o final

        .user-info,
        .datetime {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        }

        i {
        font-size: 1rem;
        margin-right: 8px;
        margin-left: 8px;
        }
    }
  }
  