.main-content {
  background-color: var(--background-color);
  height: calc(100vh - 60px);
  margin-left: 200px;
  transition: margin-left 0.3s ease-in-out;
  padding: 20px;
  position: relative;
  top: 60px; // Para considerar o header fixo

  h1 {
      margin-top: 20px;
      font-size: 1.8rem;
      text-align: center;
  }
}

/* Quando o sidebar estiver fechado */
aside.collapsed + .main-content {
  margin-left: 70px;
}

.layout-container .collapsed .main-content {
  margin-left: 70px;
  background-color: var(--background-color);
}