<div class="container p-4">
  <div class="card mb-4">
    <div class="card-header">
      <h5 class="card-title mb-0">Vendas</h5>
      <h6 class="card-subtitle text-body-secondary">Listagem e filtros</h6>
    </div>
    <div class="card-body">
      <form [formGroup]="filterForm" class="row g-3 align-items-end">
        <div class="col-12 col-md-6 col-lg-2">
          <label for="filterClient" class="form-label">Cliente</label>
          <select
            id="filterClient"
            formControlName="clientId"
            class="form-select"
          >
            <option [value]="''">Todos</option>
            <option *ngFor="let client of clients$ | async" [value]="client.id">
              {{ client.name }}
            </option>
          </select>
        </div>
        <div class="col-12 col-md-6 col-lg-2">
          <label for="filterFunc" class="form-label">Funcionalidade</label>
          <select
            id="filterFunc"
            formControlName="functionalityId"
            class="form-select"
          >
            <option [value]="''">Todas</option>
            <option
              *ngFor="let func of functionalities$ | async"
              [value]="func.id"
            >
              {{ func.name }}
            </option>
          </select>
        </div>
        <div class="col-12 col-md-6 col-lg-2">
          <label for="filterResp" class="form-label">Responsável</label>
          <select
            id="filterResp"
            formControlName="responsibleId"
            class="form-select"
          >
            <option [value]="''">Todos</option>
            <option *ngFor="let user of users$ | async" [value]="user.id">
              {{ user.name }}
            </option>
          </select>
        </div>
        <div class="col-12 col-md-6 col-lg-2">
          <label for="filterFrom" class="form-label">Data (De)</label>
          <input
            id="filterFrom"
            type="date"
            class="form-control"
            formControlName="from"
          />
        </div>
        <div class="col-12 col-md-6 col-lg-2">
          <label for="filterTo" class="form-label">Data (Até)</label>
          <input
            id="filterTo"
            type="date"
            class="form-control"
            formControlName="to"
          />
        </div>
        <div class="col-12 col-md-6 col-lg">
          <label for="filterPayment" class="form-label">Status Pagamento</label>
          <select
            id="filterPayment"
            formControlName="paymentStatus"
            class="form-select"
          >
            <option [value]="''">Todos</option>
            <option
              *ngFor="let status of paymentStatusOptions"
              [value]="status.value"
            >
              {{ translateStatus(status.value) }}
            </option>
          </select>
        </div>
        <div class="col-12 col-md-6 col-lg">
          <label for="filterWork" class="form-label">Status Trabalho</label>
          <select
            id="filterWork"
            formControlName="workStatus"
            class="form-select"
          >
            <option [value]="''">Todos</option>
            <option
              *ngFor="let status of workStatusOptions"
              [value]="status.value"
            >
              {{ translateStatus(status.value) }}
            </option>
          </select>
        </div>
        <div class="col-12 col-lg-auto d-flex justify-content-end">
          <button
            class="btn btn-outline-danger w-100"
            (click)="clearFilters()"
            type="button"
          >
            Limpar Filtros
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="d-flex justify-content-end mb-4">
    <button
      class="btn btn-primary d-flex align-items-center"
      (click)="goToCreateOrder()"
    >
      <i class="bi bi-plus-lg me-2"></i>
      Nova Venda
    </button>
  </div>

  <div class="card">
    <div class="card-body">
      <div
        *ngIf="isLoading$ | async"
        class="d-flex justify-content-center align-items-center py-5"
      >
        <div
          class="spinner-border text-primary"
          style="width: 50px; height: 50px"
          role="status"
        >
          <span class="visually-hidden">A carregar...</span>
        </div>
      </div>

      <div class="table-responsive" *ngIf="!(isLoading$ | async)">
        <table class="table table-hover align-middle w-100">
          <thead class="table-light">
            <tr>
              <th scope="col">Nº Venda</th>
              <th scope="col">Cliente</th>
              <th scope="col">Funcionalidade</th>
              <th scope="col">Responsável</th>
              <th scope="col">Data</th>
              <th scope="col">Valor Total</th>
              <th scope="col">Status Pgto.</th>
              <th scope="col">Status Trab.</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders$ | async">
              <td>#{{ order.orderNumber }}</td>

              <td>{{ getClientName(order.client.id) }}</td>
              <td>
                {{ getFunctionalityName(order.items[0]?.functionality?.id) }}
              </td>
              <td>
                {{ getResponsibleName(order.items[0].functionality?.id) }}
              </td>

              <td>{{ order.contractDate | date : "dd/MM/yyyy" }}</td>
              <td>{{ order.amountTotal | currency : "BRL" }}</td>
              <td>
                <span
                  class="badge"
                  [ngClass]="getStatusClass(order.paymentStatus)"
                >
                  {{ translateStatus(order.paymentStatus) }}
                </span>
              </td>
              <td>
                <span
                  class="badge"
                  [ngClass]="getStatusClass(order.workStatus)"
                >
                  {{ translateStatus(order.workStatus) }}
                </span>
              </td>
              <td>
                <button
                  class="btn btn-link text-primary p-0"
                  aria-label="Ver detalhes"
                  (click)="viewDetails(order.id)"
                >
                  <i class="bi bi-eye-fill fs-5"></i>
                </button>
              </td>
            </tr>

            <tr *ngIf="!(orders$ | async) || (orders$ | async)?.length === 0">
              <td colspan="9" class="text-center py-4">
                Nenhuma venda encontrada com os filtros aplicados.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
